@import '../../resources/styles/screen.scss';

#projects-section {
  text-align: center;
}

.section-header {
  text-align: left;
}

.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: $break-large) {
    flex-direction: row;
  }
}