
// Black / Grey
$light-grey: #c5cdd4;

// Blues
$background-blue: #0c0031;
$nav-blue: #110044;
$text-blue: #cec8de;


// Whites
$white: #ffffff;
$off-white: #ebebeb;

// Yellows
$accent-yellow: #ffff9d;