
// Black / Grey
$light-grey: #c5cdd4;

// Blues
$background-blue: #182952;
$nav-blue: #1c3161;
$standard-text: #c8d4ef;
$light-text: #e6ecf8;


// Whites
$white: #ffffff;
$off-white: #ebebeb;

// accents
$accent-pink: #e667a7;
$accent-purple: #845cbf;