@import './colors.scss';
@import './text.scss';

.App {
  min-height: 100vh;
}

.section {
  display: flexbox;
  margin: 2rem;
  min-height: 100vh;
}

.section-header {
  color: $accent-pink;
  font-size: $small;
  padding-top: 4rem;
}