@import './colors.scss';
@import './text.scss';
@import './screen.scss';

.App {
  min-height: 100vh;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem;
  min-height: 100vh;
  @media screen and (min-width: $break-large) {
    margin: 10rem;
  }
  @media screen and (min-width: $break-huge) {
    //margin: 20rem;
    max-width: 50rem;
    //align-items: center;
  }
}

.section-header {
  color: $accent-pink;
  font-size: $small;
  padding-top: 4rem;
  @media screen and (min-width: $break-large) {
    font-size: $medium;
  }
}

hr {
  margin-left: 0;
  margin-right: 0;
  min-width: 100%;
}

