@import './colors.scss';
@import './text.scss';
@import './screen.scss';

.App {
  min-height: 100vh;
}

.section {
  display: flexbox;
  margin: 2rem;
  min-height: 100vh;
  @media screen and (min-width: $break-large) {
    margin: 10rem;
  }
}

.section-header {
  color: $accent-pink;
  font-size: $small;
  padding-top: 4rem;
  @media screen and (min-width: $break-large) {
    font-size: $medium;
  }
}

