@import './colors.scss';
@import './text.scss';

.App {
  min-height: 100vh;
}

.section {
  display: flexbox;
  margin: 2rem;
  min-height: 100vh;
}

.section-header {
  color: $accent-pink;
  font-size: $small;
  padding-top: 4rem;
}

ul { 
  //margin: 0;
}

li {
  list-style-type: none;
  padding-bottom: 0.5rem;
  color: $standard-text;
  &:before {
    position: absolute;
    content: '\25BB';
    color: $accent-pink;
    left: 4rem;
  }
}