// sizes
$xsmall: 12px;
$small: 16px;
$medium: 24px;
$large: 32px;
$x-large: 40px;
$xx-large: 48px;
$xxx-large: 56px;
$huge: 64px;
$x-huge: 80px;
$xx-huge: 96px;
$xxx-huge: 114px;
// weights
$bold: 500;
$x-bold: 750;
$xx-bold: 1000;