* {
  margin: 0;
  padding: 0;
}

.me {
  color: #FFFFFF;
  font-size: 50pt;
  text-align: left;

}

.top {
  background: linear-gradient(to top, #580FF2, #8E57D5);
  border-radius: 0% 100% 63% 37% / 100% 0% 100% 0% ;
  display: flex;
  height: 15rem;
}