.about-container {
  min-height: 100vh;
  margin: 1rem;
}

h1 { 
  color: white; 
  font-size: small;
}
.me-name {
  color: white;
  font-size: xx-large;
  margin: 0;

}

.me-short {
  color: white;
  font-size: xx-large;
  margin: 0;
}