@import "./colorsDark.scss";
@import "./text.scss";

.about-container {
  margin: 2rem;
  min-height: calc(100vh - 11rem);
}

h1 { 
  color: $accent-pink; 
  font-size: $small;
}

.me-name {
  color: $light-text;
  font-size: $large;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: $x-bold;
}

.me-short {
  color: $white;
  font-size: $large;
  margin-top: 0;
  font-weight: $x-bold;
  color: $standard-text;
}

.me-long {
  color: $white;
  font-size: $medium;
  color: $standard-text;
}