@import "./colorsDark.scss";
@import "./text.scss";

.about-container {
  margin: 2rem;
}

h1 { 
  color: $accent-yellow; 
  font-size: $small;
}
.me-name {
  color: $white;
  font-size: $x-large;
  margin-top: 10;
  margin-bottom: 0;
  font-weight: $x-bold;
}

.me-short {
  color: $white;
  font-size: $large;
  margin-top: 0;
  font-weight: $x-bold;
  color: $text-blue;
}

.me-long {
  color: $white;
  font-size: $medium;
  color: $text-blue;
}