@import '../../resources/styles/colors.scss';
@import '../../resources/styles/text.scss';
@import '../../resources/styles/screen.scss';

#welcome-section {
  min-height: 100vh;
}

.language-picker {
  display: inline-block;
  border: solid 1px $accent-pink;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  min-width: 10rem;
  height: auto;
  text-decoration: none;
  background: $nav-blue;
  color: #ffffff;
  font-family: sans-serif;
  font-size: $medium;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: background .5s ease-in-out;
  &:hover,
  &focus {
    background: rgba(230, 103, 167, 0.3);
  }
}
.me-long {
  color: $white;
  font-size: $medium;
  color: $standard-text;
  @media screen and (min-width: $break-large) {
    font-size: $large;
  }
}

.me-name {
  color: $light-text;
  font-size: $large;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: $x-bold;
  @media screen and (min-width: $break-large) {
    font-size: $xx-huge;
  }
}

.me-short {
  color: $white;
  font-size: $large;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: $x-bold;
  color: $standard-text;
  @media screen and (min-width: $break-large) {
    font-size: $xx-large;
  }
}

.pick-lang-desc {
  color: $accent-pink;
  font-size: $medium;
  margin-top: 0;
  @media screen and (min-width: $break-large) {
    font-size: $x-large;
  }
}

.section-header {
  margin-top: 2rem;
}

