@import '../../resources/styles/colorsDark.scss';
@import '../../resources/styles/text.scss';

.me-long {
  color: $white;
  font-size: $medium;
  color: $standard-text;
}

.me-name {
  color: $light-text;
  font-size: $large;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: $x-bold;
}

.me-short {
  color: $white;
  font-size: $large;
  margin-top: 0;
  font-weight: $x-bold;
  color: $standard-text;
}

