@import '../../resources/styles/colors.scss';
@import '../../resources/styles/text.scss';

.language-picker {
  display: inline-block;
  border: solid 1px $accent-pink;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin: 0.25rem;
  min-width: 10rem;
  height: auto;
  align-self: center;
  text-decoration: none;
  background: $nav-blue;
  color: #ffffff;
  font-family: sans-serif;
  font-size: $medium;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all .5s ease-in-out;
  &:hover,
  &focus {
    background: rgba(230, 103, 167, 0.3);
  }
}
.me-long {
  color: $white;
  font-size: $medium;
  color: $standard-text;
}

.me-name {
  color: $light-text;
  font-size: $large;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: $x-bold;
}

.me-short {
  color: $white;
  font-size: $large;
  margin-top: 0;
  font-weight: $x-bold;
  color: $standard-text;
}

.pick-lang-desc {
  color: $accent-pink;
  font-size: $medium;
}

