@import '../../resources/styles/colors.scss';
@import '../../resources/styles/text.scss';
@import '../../resources/styles/screen.scss';

.about-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  @media screen and(min-width: $break-large) {
    flex-wrap: nowrap;
  }
}

.about-me-description {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $break-large) {
    margin-left: 1rem;
    max-width: 60%;
  }
}

.about-tech, .about-school {
  color: $standard-text;
  font-size: $small;
  @media screen and (min-width: $break-large) {
    font-size: $medium;
  }
}

.person-picture {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  box-shadow: 10px 10px 10px #0f1a34;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.03);
    box-shadow: 5px 10px 10px #0f1a34;
  }
  @media screen and (min-width: $break-large) {
    width: 19rem;
  }
}

.skill {
  list-style-type: none;
  padding-bottom: 0.5rem;
  color: $standard-text;
  &:before {
    position: absolute;
    content: '\25BB';
    color: $accent-pink;
    left: 4rem;
  }
}
