@import '../../../resources/styles/colors.scss';
@import '../../../resources/styles/text.scss';

.background-image {
  left: 0;
  top: 0;
   height: 100%;
   width: 100%;
   opacity: 0.1;
   border-radius: inherit;
   position: absolute;
   z-index: -1;
}

.project-description {
  color: $standard-text;
  font-size: $medium;
  font-weight: $bold;
}

.project-tile {
  border-radius: 0.5rem;
  display: inline-block;
  margin: 1rem;
  height: 20rem;
  width: 20rem;
  overflow: hidden;
  position: relative;
  transition: all .3s ease-in-out;
  &:hover,
  &:focus {
    background-color:$accent-pink;
    opacity: 1;
    img {
      transform: scale(1.1);
    }

    .repo-name, .project-description{
      color: $background-blue;
    }
  }
}

.project-link:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
}

.repo-name { 
  color: $white;
  font-size: $xx-large;
}


