@import '../../resources/styles/colors.scss';
@import '../../resources/styles/text.scss';

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#footer {
  background-color: $footer-blue;
  display: flex;
  flex-direction: column;
  min-height: 15vh;
  justify-content: center;
}

.footer-link-icon {
  align-self: center;
  color: $white;
  font-size: $large;
  margin: 0.5rem;
  &hover,
  &focus {
    transform: scale(1.1);
  }
}

.made-by {
  color: $standard-text;
  align-self: center;
}