@import '../../resources/styles/colors.scss';
@import '../../resources/styles/text.scss';
@import '../../resources/styles/screen.scss';

.fa-envelope {
  color: $accent-pink;
  font-size: $large;
  margin-right: 2rem;
}

.hamburger {
  margin-left: 2rem;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  transition: all 0.5s cubic-bezier(0,1.82,.72,.75);
  @media screen and (min-width: $break-large) {
    display: none;
  }
}

.menu {
  position: absolute;
  visibility: hidden;
  width: 100%;
  top: 70px;
  background: $nav-blue;
  @media screen and (min-width: $break-large) {
    background: unset;
    visibility: visible;
  }
}

nav {
  height: 70px;
  min-width: 100%;
  position: absolute;
  top: 0;
  background-color: $nav-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divide-line {
  max-width: 90%;
}

.nav-item {
  color: $standard-text;
  text-decoration: none;
}

.nav-list-item {
  list-style-type: none;
  padding-top: 0.5rem;
  &:before {
    content: '';
    height: 0px;
  }
  &:after {
    content: '';
    width: 0px;
  }
  &:hover:after {
    width: 100%;
    height: 3px;
    display: block;
    background: $standard-text;
    transition: 500ms;
  }
  &:hover:before {
    width: 3px;
    height: 100%;
    display: block;
    background: $standard-text;
    transition: 500ms;
  }
}


.svg-inline--fa {
  margin: 1rem;
}

.block-align {
  @media screen and (min-width: $break-large) {
    display: inline-flex;
  }
}

.nav-menu-ul {
  margin-top: 0;
  margin-left: 5rem;
  border-left: 1px solid $standard-text;
  display: inline-block;
  @media screen and (min-width: $break-large) {
    justify-content: space-between;
  }
}
