@import '../../resources/styles/colors.scss';
@import '../../resources/styles/text.scss';

.fa-envelope {
  color: $accent-pink;
  font-size: $large;
  margin: 2rem;
}

.hamburger {
  margin: 2rem;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	transition: all 0.5s cubic-bezier(0,1.82,.72,.75);
}

nav {
  min-height: 50px;
  min-width: 100%;
  position: absolute;
  top: 0;
  background-color: $nav-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.svg-inline--fa {
  margin: 1rem;
}