@import '../../resources/styles/colors.scss';
@import '../../resources/styles/text.scss';
@import '../../resources/styles/screen.scss';

.fa-envelope {
  color: $accent-pink;
  font-size: $large;
  margin-right: 2rem;
}

.hamburger {
  margin-left: 2rem;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  transition: all 0.5s cubic-bezier(0,1.82,.72,.75);
  @media screen and (min-width: $break-large) {
    display: none;
  }
}

.menu {
  position: absolute;
  visibility: hidden;
  display: flex;
  width: 100%;
  top: 70px;
  background: $nav-blue;
  @media screen and (min-width: $break-large) {
    top: 0;
  }
}

nav {
  height: 70px;
  min-width: 100%;
  position: absolute;
  top: 0;
  background-color: $nav-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: $break-large) {
    justify-content: flex-end;
  }
}

.divide-line {
  max-width: 90%;
}

.nav-item {
  color: $standard-text;
  text-decoration: none;
  &:hover {
    color: $accent-pink;
    transition: 300ms;
  }
  @media screen and (min-width: $break-large) {
  }
}

.nav-list-item {
  list-style-type: none;
  padding-top: 0.5rem;
  @media screen and (min-width: $break-large) {
    font-size: $medium;
    display: inline-block;
    padding-right: 2rem;
    padding-top: 0;
    &:after {
      content: '';
      width: 0px;
    }
    &:hover {
      &:after {
      @media screen and (min-width: $break-large) {
        width: 100%;
        height: 3px;
        display: block;
        background: $standard-text;
        transition: 500ms;
      }
    }
    }
  }
}


.svg-inline--fa {
  margin: 1rem;
}

.block-align {
  @media screen and (min-width: $break-large) {
    display: inline-flex;
  }
}

.lang-buttons {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  @media screen and (min-width: $break-large) {
    flex-direction: row;
  }
}

.lang-button {
  align-self: center;
  display: inline-block;
  border: solid 1px $accent-pink;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  min-width: 0.5rem;
  max-height: 3rem;
  text-decoration: none;
  background: $nav-blue;
  color: #ffffff;
  font-family: sans-serif;
  font-size: $xsmall;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: background .5s ease-in-out;
  &:hover,
  &focus {
    background: rgba(230, 103, 167, 0.3);
  }
  @media screen and (min-width: $break-large) {
    opacity: 1;
  }
}

.nav-menu-ul {
  margin-top: 0;
  margin-left: 0rem;
  @media screen and (min-width: $break-large) {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.rect-nav {
  fill: $standard-text;
  @media screen and (min-width: $break-large) {
    display: none;
  }
}

.mail-icon {
  z-index: 2;
}

.seal {
  width: 70px;
  height: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  display: none;
  @media screen and (min-width: $break-large) {
    display: block;
  }
}

.ul-display-line {
  display: none;
}

