@import '../../resources/styles/text.scss';
@import '../../resources/styles/colors.scss';
@import '../../resources/styles/screen.scss';

.current-jobs {
  display: block;
  text-align: center; 
  margin: 0 auto;
}

.company-name {
  color: $white;
  font-size: $xx-large;
  margin-bottom: 0;
  @media screen and (min-width: $break-large) {
    font-size: $huge;
  }
}

.job-dates, .position-title {
  color: $light-text;
  margin: 0;
}

.job-description {
  color: $light-text;
  font-size: $small;
  padding: 1rem;
  background-color: $nav-blue;
  border: 1px solid $light-text;
  border-radius: 1rem;
  @media screen and (min-width: $break-large) {
    font-size: $large;
  }
}

.job-point {
  list-style-type: none;
  padding-bottom: 0.5rem;
  color: $standard-text;
  &:before {
    position: static;
    content: '\25BB';
    color: $accent-pink;
    margin-right: 1rem;
    
  }
  @media screen and (min-width: $break-large) {
    font-size: $medium;
  }
}

.job-points {
  padding-left: 0;
}

// index for before element indenting bug
.job-points, .job-point {
  margin-left: 1rem;
  text-indent: -1.6rem;
  @media screen and (min-width: $break-large) {
    margin-left: 1rem;
    text-indent: -1.9rem;
  }
}