@import '../../resources/styles/text.scss';
@import '../../resources/styles/colors.scss';

.current-jobs {
  display: block;
  text-align: center; 
}

.company-name {
  color: $white;
  font-size: $xx-large;
  margin-bottom: 0;
}

.job-dates, .position-title {
  color: $light-text;
  margin: 0;
}

.job-description {
  color: $light-text;
  font-size: $small;
  padding: 1rem;
  background-color: $nav-blue;
  border: 1px solid $light-text;
  border-radius: 1rem;
}


li {
  list-style-type: none;
  padding-bottom: 0.5rem;
  color: $standard-text;
  &:before {
    position: absolute;
    content: '\25BB';
    color: $accent-pink;
    left: 4rem;
  }
}

